@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 body{
    /* body style */
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;

    /* Variables */
    --soft-magenta:hsl(300, 69%, 71%);
    --violet:hsl(257, 40%, 49%);
    background-color: var(--violet);
    background-image: url(bg-mobile.svg);
    background-size: cover;
    
 }
 .header{
    
    padding: 38px;

 }
 .header img{
    height: 36px;
    
 }
 .main_container{
   display: flex;
   flex-direction: column;


 }
 .pages_view{
    height: 30%;
    display: flex;
    justify-content: center;
    padding-top: 22px;

   
 }
 .pages_view img{
   width: 80%;
   background-size: cover;
   background-repeat: no-repeat;

 }
 .text{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 46%;
    justify-content: space-around;
    padding: 36px;
 }  
 .text h2{

 }
 .text p {
    font-size: 18px;
    line-height: 28px;
 }
 button{
    background-color: white;
    color: black;
    padding: 20px 106px;
    border-radius: 24px;
    border: transparent;
 }
 .footer{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-right: 25%;
    padding-left: 25%;
    color: white;
    font-size: 24px;
 }